<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.discipline.dao.mybatis.UserMapper">

    <select id="getByCodeAndPassword" resultType="com.sun.discipline.domain.common.User">
        SELECT * FROM `user` WHERE `password` = #{password} AND `code` = #{code}
    </select>
    <select id="getByCode" resultType="com.sun.discipline.domain.common.User">
        SELECT * FROM `user` WHERE `code` = #{code}
    </select>
    <select id="getByMobile" resultType="com.sun.discipline.domain.common.User">
        SELECT * FROM `user` WHERE `mobile` = #{mobile}
    </select>
    <select id="getByOpenId" resultType="com.sun.discipline.domain.common.WechatUser">
        SELECT * FROM `wx_user` WHERE open_id = #{openId}
    </select>
    <select id="getByUserId" resultType="com.sun.discipline.domain.common.WechatUser">
        SELECT * FROM `wx_user` WHERE user_id = #{userId}
    </select>
</mapper>